<html xmlns:th="http://www.thymeleaf.org">

<h1>채팅방 목록</h1>

<nav>
    <a href="make">채팅방 생성</a>
</nav>

<div th:if="${#lists.isEmpty(chatRooms)}">
    <p>현재 채팅방이 없습니다.</p>
</div>

<ul th:if="${!#lists.isEmpty(chatRooms)}">
    <li th:each="chatRoom : ${chatRooms}">
        <a th:href="@{'/chat/room/' + ${chatRoom.id}}">
            <span th:text="${chatRoom.id}">1번</span>
            <span th:text="${chatRoom.name}">공지방</span>
            <!--<span>[[${chatRoom.name}]]</span>-->
        </a>
    </li>
</ul>

</html>