<html xmlns:th="http://www.thymeleaf.org">



<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


<script>

  var afterId = 0;
  window.onload = function(){
     readMessage();
  }

  function readMessage(){

    const roomId = document.getElementById('roomId').textContent.trim();

    fetch(`/chat/room/${roomId}/messagesAfter/${afterId}`, {
          method: 'GET'
    })
    .then(response => response.json())
    .then(messages => {
      drawMessage(messages);
    });
  }

  function drawMessage(messages){

    const chatMessageUI = document.querySelector('.chat__messages');

    if (messages.length > 0) {
      afterId = messages[messages.length - 1].id;
    }

     messages.forEach((message) => {
      chatMessageUI
              .insertAdjacentHTML(
                      "afterBegin",
                      `<li>${message.writerName} : ${message.content}</li>`
              );
    });
     //setTimeout(readMessage, 500); // 폴링방식. 0.5초마다 get요청 호출
  }

 //SSE 방식
 // const sse = new EventSource("/chat/room/SseConnecting");
 // sse.addEventListener('messageChanged', e => {
 //   readMessage();
 // });


    //웹 소켓 방식
    const socket = new SockJS("/ws");
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
      //stompClient.subscribe(`/wsConnect/chat/room/${roomId}/write`, function (data) {
        stompClient.subscribe(`/wsConnect/write`, function (data) {
        console.log("data", data);
        readMessage();
      });
    });

//입력시
function submitWriteForm(form){
  const roomId = document.getElementById('roomId').textContent.trim();
  event.preventDefault();
  var writerName = form.writerName.value.trim();
  var content = form.content.value.trim();

  if(writerName == ""){
    alert("작성자 명을 입력해주세요.");
    form.writerName.focus();
    return false;
  }else if(content == ""){
    alert("내용을 입력해주세요.");
    form.content.focus();
    return false;
  }

  const chatMessage = {
        writerName: writerName,
        content   : content
  };

  fetch(`/chat/room/${roomId}/write`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify(chatMessage)
  })
  .then(response => response.json())
  .then(data => {
      if (true) {
            console.log("채팅입력 성공!", chatMessage);
            form.writerName.value = "";
            form.content.value = "";
      } else {
          alert('채팅방 생성에 실패했습니다. 관리자에게 문의 바랍니다.');
      }
  })
  .catch(error => {
      console.error('Error:', error);
      alert('서버 요청에 실패했습니다.');
  });
}
</script>

<h1><span id="roomId" th:text="${roomId}"></span>번 채팅방</h1>

<nav>
  <a href="make">채팅방 생성</a>
  <a href="list">채팅방 목록</a>
</nav>

<form onsubmit="submitWriteForm(this); return false;" method="POST">
  <input autocomplete="off" type="text" name="writerName" placeholder="작성자 명">
  <input autocomplete="off" type="text" name="content" placeholder="내용">
  <input type="submit" value="작성">
</form>

<div>
  <ul class="chat__messages">
    <li th:each="chatMessage : ${chatMessages}">
      <span th:text="${chatMessage.writerName}"></span>
      <span th:text="${chatMessage.content}"></span>
    </li>
  </ul>
</div>