<!DOCTYPE html>
<html>
<head>
    <title>채팅방 목록</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
</head>
<body>
<div class="container">
    <h1>채팅방 목록</h1>
    <p class="description">
        1번방은 polling 방식, 2번방은 sse 방식, 3번방은 socket 방식, 4번방은 AI와 채팅하는 채팅방입니다.
    </p>

    <!-- 방 생성 폼 추가 -->
    <form id="create-room-form" class="room-form">
        <input type="text" id="roomName" placeholder="방 이름 입력" required/>

        <select id="roomType">
            <option value="" disabled selected>Type</option>
            <option value="polling">polling</option>
            <option value="sse">sse</option>
            <option value="websocket">websocket</option>
            <option value="ai">AI</option>
        </select>

        <button type="submit">방 생성</button>
    </form>

    <!-- 방 목록 테이블 -->
    <table class="room-table">
        <thead>
        <tr>
            <th>방 번호</th>
            <th>방 이름</th>
            <th>방 종류</th>
            <th>입장</th>
        </tr>
        </thead>
        <tbody id="rooms-list"></tbody>
    </table>
</div>

<script>
    // 방 목록 불러오기
    async function fetchRooms() {
        const response = await fetch('/api/v0/rooms');
        const data = await response.json();
        const roomsList = document.getElementById('rooms-list');
        roomsList.innerHTML = '';

        data.data.rooms.forEach(room => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${room.id}</td>
                <td>${room.name}</td>
                <td>${room.roomType.toUpperCase()}</td>
                <td><button onclick="enterRoom(${room.id}, '${room.roomType}')">Enter Room</button></td>
            `;
            roomsList.appendChild(row);
        });
    }

    // 방 입장 시 해당 roomId 페이지로 이동
    function enterRoom(roomId, roomType) {
        const lowerCaseRoomType = roomType.toLowerCase();
        window.location.href = `/rooms/${roomId}?roomType=${lowerCaseRoomType}`;
    }

    // 방 생성
    document.getElementById('create-room-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const roomName = document.getElementById('roomName').value;
        const roomType = document.getElementById('roomType').value;

        console.log(JSON.stringify({ name: roomName, roomType: roomType}));
        const response = await fetch('/api/v0/rooms', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: roomName, roomType: roomType})
        });

        if (response.ok) {
            alert('방이 생성되었습니다.');
            fetchRooms();  // 방 목록 갱신
        } else {
            alert('방 생성에 실패했습니다.');
        }

        document.getElementById('roomName').value = '';  // 입력칸 초기화
    });

    fetchRooms();
</script>
</body>
</html>
